/*
light pink: #f2d7ee
grayish beige: #d3bcc0
mauve ish: #a5668b
purple: #69306d
dark blue: #0e103d
*/

body{
  background-color: #d3bcc0;
  color: #0E103D;
  font-family: 'Chonburi', cursive;
}

p {
  color: #A5668B;
  font-weight: bold;
  font-family: "Proxima Nova", sans-serif;
}

h2 {
  color: #69306D;
}

.work, .education {
  background-color: #f2d7ee;
}
a:hover {
  color: #bf1885;
}
